@import './common.less';

.float-tag,
h1,
h2 {}

/* 漂浮窗1 */
.float-tag {
    position: fixed;
    transform: translate(0, -50%);
    right: 0;
    top: 50%;
    box-shadow: 0 0 10px #cccccc;
}

.float-tag>ul {}

.float-tag>ul>li {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.float-tag>ul>li:nth-child(1) {
    background-color: aquamarine
}

.float-tag>ul>li:nth-child(2) {
    background-color: #ff0000;
}

.float-tag>ul>li:nth-child(3) {
    background-color: blue
}

.float-tag>ul>li>ul {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -50px;
    width: 190px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    transition: all 0.5s;
}

.float-tag>ul>li:hover>ul {
    right: 140px;
}

.full-container {
    width: 100%;
}

.container {
    width: 1340px;
    margin: auto;
}

// 头部
.header{
    .logo{
        width: 175px;
        img{
            width: 100%;
        }
    }
    // 导航
    .nav{
        line-height: 60px;

        a{
display: inline-block;
padding: 0 20px;
        }
    }
}
// banner产皮介绍
.banner-cpjs{
    background-color: aqua;
    padding: 20px 0px;
    .text{
        width: 500px;
    }
}

// 模块
.mk {
    ul {
        li {
            position: relative;
            overflow: hidden;
margin: 0 20px;
            img {
                width: 200px;
            }

            .text {
                .background();
                position: absolute;
                top: 0;
                left: -200px;
                width: 100%;
                height: 100%;
                padding: 20px;
                box-sizing: border-box;
                color: #ffffff;

            }

            .rotatetext {
                transition: 0.2s;
                perspective: 500;
                transform-style: preserve-3d;
                /*重要*/
                transform: rotateY(90deg);
            }
        }

    }
}

// 合作伙伴
.partner {
    ul {
        li {
            border: 1px solid #cccccc;
            border-radius: 5px;
            padding: 10px;
            width: 250px;
            margin: 10px;
            .img {
                width: 100px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .text {
                width: 150px;

                h3 {}

                p {}

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #ff0000;
                    color: #ffffff;
                }
            }
        }
    }
}